{% include base_path %}

<!-- begin SEO -->
{% if site.url %}
  {% assign seo_url = site.url | append: site.baseurl %}
{% endif %}
{% assign seo_url = seo_url | default: site.github.url %}

{% if page.title %}
  {% assign seo_title = page.title | append: " " | append: site.title_separator | append: " " | append: site.title %}
{% endif %}

{% if seo_title %}
  {% assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once %}
{% endif %}

{% if site.title %}
  {% assign seo_site_title = site.title | append: " " | append: site.title_separator | append: " " | append: site.name %}
{% endif %}

{% if seo_site_title %}
  {% assign seo_site_title = seo_site_title | markdownify | strip_html | strip_newlines | escape_once %}
{% endif %}

<title>{% if seo_title %}{{ seo_title }}{% else %}{{ seo_site_title }}{% endif %}</title>

{% if page.description %}
  {% assign seo_description = page.description %}
{% elsif page.excerpt %}
  {% assign seo_description = page.excerpt %}
{% elsif site.description %}
  {% assign seo_description = site.description %}
{% endif %}

{% if seo_description %}
  {% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | escape_once %}
{% endif %}

<meta name="description" content="{{ seo_description }}">

{% if site.author.name and page.author_profile %}
  <meta name="author" content="{{ site.author.name }}">
{% endif %}

<meta property="og:type" content="website">
<meta property="og:locale" content="{{ site.locale | replace: "-", "_" | default: "en_US" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
<meta property="og:url" content="{{ page.url | prepend: seo_url | replace: "//", "/" }}">
{% if seo_description %}<meta property="og:description" content="{{ seo_description }}">{% endif %}
{% if page.header.teaser %}<meta property="og:image" content="{{ page.header.teaser | prepend: "/images/" | prepend: seo_url }}">{% endif %}

<meta name="twitter:card" content="summary">
{% if site.twitter.username %}<meta name="twitter:site" content="@{{ site.twitter.username }}">{% endif %}
<meta name="twitter:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
{% if seo_description %}<meta name="twitter:description" content="{{ seo_description }}">{% endif %}

<link rel="canonical" href="{{ page.url | prepend: seo_url | replace: "//", "/" }}">

{% if page.url == "/" %}
  {% assign schema_type = "WebSite" %}
{% else %}
  {% assign schema_type = "WebPage" %}
{% endif %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "{{ schema_type }}",
    "name": {{ page.title | default: site.title | jsonify }},
    "description": {{ seo_description | jsonify }},
    "url": {{ page.url | prepend: seo_url | replace: "//", "/" | jsonify }}
  }
</script>

<!-- end SEO -->
